.container {
  background-color: var(--color-bg);
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
.first {
  display: flex;
  gap: 70px;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 10px;

  .Box img {
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 420px;
    text-align: center;
  }
  p {
    font-family: "Fredoka";
    font-size: 22px;
  }
  h2 {
    font-size: 30px;
    font-family: "Acme";
    color: white;
    letter-spacing: 3px;
  }
  h3 {
    font-size: 50px;
    font-family: "Acme";
    color: white;
  }
  .title {
    margin-bottom: 10px;
  }
  .location {
    color: red;
    width: 150px;
  }

  @media screen and (max-width: 600px) {
    .first {
      flex-wrap: wrap;
      gap: 1px;
      margin: 0% 12%;
    }
    .container {
      gap: 0;
    }
    .title,
    h3 {
      margin-top: 15px;
      font-size: 35px;
      margin-bottom: 5px;
    }
    .Box img {
      width: 330px;
    }
    .Box p ,h2{
      font-size: 20px;
    }
    h2 {
      font-size: 22px;
    }

    .Box .one {
      height: 105px;
    }

  }
}
