.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    background-color: var(--color-bg);
    color: white;
    
    
}
.container p{
    margin-bottom: 20px;
    margin-top: 20px;
}